<app-modal
  [(visible)]="visible"
  title="Create Investment"
  size="md"
  [confirmText]="'Create Investment'"
  [confirmLoading]="isLoading"
  [showCancelButton]="true"
  (confirm)="onSubmit()"
  (cancel)="onCancel()"
  (visibleChange)="visibleChange.emit($event)"
>
  <ng-template #modalBody>
    <div class="space-y-3">
      <div class="text-sm">
        <div class="text-gray-500">Campaign</div>
        <div class="font-semibold">{{ crowdFunding?.title ?? '-' }}</div>
      </div>

      <form [formGroup]="form" class="space-y-3">
        <div>
          <label class="form-label">Amount</label>
          <input class="form-control" type="number" step="0.01" formControlName="amount"/>
        </div>

        <div>
          <label class="form-label">Payment method</label>
          <select class="form-control" formControlName="paymentMethod">
            <option *ngFor="let m of paymentMethods" [value]="m">{{ m }}</option>
          </select>
        </div>
      </form>
    </div>
  </ng-template>
</app-modal>

