<app-page-split-layout
  [showLeftTitle]="false"
  [showRightTitle]="false"
  leftTitle="Crowdfunding"
  rightTitle="crowdFunding Detail"
  [rightItem]="selectedcrowdFunding"
  [rightEmptyMessage]="'Select a row to view details.'"
  [showRightEditButton]="false"
  [rightActions]="rightActions"
>
  <ng-template #extraTableHeader>
    <div class="w-full">
      <app-farm-crowdfunding-crowdFunding-filter
        [(searchText)]="searchText"
        [(status)]="status"
        (filterChange)="onFilterChange()"
        (searchChange)="onFilterChange()"
        (clearFilters)="clearFilters()"
      ></app-farm-crowdfunding-crowdFunding-filter>

      <div class="px-3 py-2 text-xs text-slate-500">
        Tip: Investors are default-filtered to <b>OPEN</b> crowdFundings.
      </div>
    </div>
  </ng-template>

  <ng-template #leftContent>
    <app-data-table
      [columns]="columns"
      [data]="crowdFundings"
      [loading]="loading"
      [total]="total"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [showAddButton]="isAdminUser"
      [showRefreshButton]="true"
      [showViewButton]="true"
      [showEditButton]="false"
      [showDeleteButton]="false"
      [addButtonText]="'Create crowdFunding'"
      (pageChange)="onPageChange($event)"
      (addClick)="onAdd()"
      (refreshClick)="onRefresh()"
      (viewClick)="onView($event)"
    >
    </app-data-table>
  </ng-template>

  <ng-template #rightContent let-crowdFunding>
    <app-crowd-funding-view
      [crowdFunding]="crowdFunding"
      [refreshKey]="detailRefreshKey"
    ></app-crowd-funding-view>
  </ng-template>
</app-page-split-layout>

<app-crowd-funding-create-modal
  [(visible)]="showCreatecrowdFundingModal"
  (crowdFundingCreated)="oncrowdFundingCreated()"
></app-crowd-funding-create-modal>

<app-crowd-funding-create-investment-modal
  [(visible)]="showCreateInvestmentModal"
  [crowdFunding]="selectedcrowdFunding"
  (investmentCreated)="onInvestmentCreated()"
></app-crowd-funding-create-investment-modal>

