<app-modal
  [(visible)]="visible"
  title="Create Investment"
  size="md"
  [maskClosable]="false"
  (visibleChange)="visibleChange.emit($event)"
>
  <ng-template #modalBody>
    <div class="space-y-3">
      <div class="text-sm">
        <div class="text-gray-500">Campaign</div>
        <div class="font-semibold">{{ campaign?.title ?? '-' }}</div>
      </div>

      <form [formGroup]="form" class="space-y-3">
        <div>
          <label class="form-label">Amount</label>
          <input class="form-control" type="number" step="0.01" formControlName="amount" />
        </div>

        <div>
          <label class="form-label">Payment method</label>
          <select class="form-control" formControlName="paymentMethod">
            <option *ngFor="let m of paymentMethods" [value]="m">{{ m }}</option>
          </select>
        </div>
      </form>
    </div>
  </ng-template>

  <ng-template #modalFooter>
    <button class="btn btn-outline" type="button" [disabled]="isSaving" (click)="visibleChange.emit(false)">
      Cancel
    </button>
    <button class="btn btn-primary" type="button" [disabled]="isSaving" (click)="submit()">
      Save
    </button>
  </ng-template>
</app-modal>

