<div class="public-page">
  <app-public-header></app-public-header>

  <app-public-hero (exploreOpportunities)="scrollTo('plots')"></app-public-hero>

  <app-public-plots
    [pagedPackages]="previewPackages"
    [loadingPackages]="loadingPackages"
    [total]="previewPackages.length"
    [pageSize]="maxPreviewPackages"
    [pageIndex]="1"
    [showSearch]="false"
    [showPagination]="false"
    [showMoreButton]="hasMorePackages"
    [getPackageCardTitle]="getPackageCardTitle"
    [getPublicCardSubtitle]="getPublicCardSubtitle"
    [getPublicCardDescription]="getPublicCardDescription"
    [getPackageThumbnailUrl]="getPackageThumbnailUrl"
    [getPackageThumbnailAlt]="getPackageThumbnailAlt"
    [getPublicCardBadges]="getPublicCardBadges"
    (primaryActionClick)="openPackageDetail($event)"
    (secondaryActionClick)="openPublicGallery($event)"
    (moreClick)="goToLogin()"
  ></app-public-plots>

  <app-public-news></app-public-news>

  <app-public-gallery></app-public-gallery>

  <app-public-about-us [company]="company"></app-public-about-us>

  <app-public-contact [company]="company" [loadingCompany]="loadingCompany"></app-public-contact>

  <app-public-footer [company]="company"></app-public-footer>

  <app-public-drawer
    [selectedPackage]="selectedPackage"
    [imageUrl]="selectedPackage ? getPackageThumbnailUrl(selectedPackage) : null"
    [imageAlt]="selectedPackage ? getPackageThumbnailAlt(selectedPackage) : ''"
    [isOpen]="!!selectedPackage"
    (close)="closePackageDetail()"
    (openGallery)="selectedPackage && openPublicGallery(selectedPackage)"
    (reserve)="goToLogin()"
  ></app-public-drawer>

  <app-image-gallery-modal
    [(visible)]="showGalleryModal"
    [loading]="galleryLoading"
    [title]="galleryTitle"
    [imageUrls]="galleryImageUrls"
    (visibleChange)="onGalleryVisibilityChange($event)"
  ></app-image-gallery-modal>
</div>
