<app-page-split-layout
  [showLeftTitle]="true"
  [showRightTitle]="true"
  leftTitle="User Management"
  rightTitle="User Detail"
  [rightItem]="selectedUser"
  [rightEmptyMessage]="'Select a row to view details.'"
  [showRightEditButton]="false"
  (rightClose)="onCloseDetail()"
>
  <ng-template #leftContent>
    <app-tabs
      [tabs]="usersTabs"
      [activeTab]="usersActiveTab"
      [centered]="true"
      (activeTabChange)="onUsersTabChange($event)"
    >
      <!-- Investors -->
      <div *ngIf="usersActiveTab === 'investor'">
        <app-data-table
          [columns]="columns"
          [data]="investorUsers"
          [loading]="investorLoading"
          [total]="investorTotal"
          [pageSize]="investorPageSize"
          [pageIndex]="investorPageIndex"
          [showIndex]="true"
          [showAddButton]="true"
          [showRefreshButton]="true"
          [showExportButton]="true"
          [showViewButton]="false"
          [showEditButton]="true"
          [showDeleteButton]="true"
          [rowClickable]="true"
          [addButtonText]="'Add Investor'"
          (pageChange)="onInvestorPageChange($event)"
          (addClick)="onAdd('investor')"
          (refreshClick)="onRefresh()"
          (exportClick)="onExport()"
          (rowClick)="onView($event)"
          (editClick)="onEdit($event)"
          (deleteClick)="onDelete($event)"
        >
          <div extraTableHeader class="w-full min-w-0">
            <app-user-filter
              [(searchText)]="searchText"
              [genderFilters]="genderFilters"
              (filterChange)="onFilterChange()"
              (searchChange)="onSearch()"
              (clearFilters)="clearFilters()"
            ></app-user-filter>
          </div>
        </app-data-table>
      </div>

      <!-- Staff -->
      <div *ngIf="usersActiveTab === 'staff'">
        <app-data-table
          [columns]="columns"
          [data]="staffUsers"
          [loading]="staffLoading"
          [total]="staffTotal"
          [pageSize]="staffPageSize"
          [pageIndex]="staffPageIndex"
          [showIndex]="true"
          [showAddButton]="true"
          [showRefreshButton]="true"
          [showExportButton]="true"
          [showViewButton]="false"
          [showEditButton]="true"
          [showDeleteButton]="true"
          [rowClickable]="true"
          [addButtonText]="'Add Staff'"
          (pageChange)="onStaffPageChange($event)"
          (addClick)="onAdd('staff')"
          (refreshClick)="onRefresh()"
          (exportClick)="onExport()"
          (rowClick)="onView($event)"
          (editClick)="onEdit($event)"
          (deleteClick)="onDelete($event)"
        >
          <div extraTableHeader class="w-full min-w-0">
            <app-user-filter
              [(searchText)]="searchText"
              [roleFilters]="staffRoleFilters"
              [genderFilters]="genderFilters"
              (filterChange)="onFilterChange()"
              (searchChange)="onSearch()"
              (clearFilters)="clearFilters()"
            ></app-user-filter>
          </div>
        </app-data-table>
      </div>

      <!-- Admins -->
      <div *ngIf="usersActiveTab === 'admin'">
        <app-data-table
          [columns]="columns"
          [data]="adminUsers"
          [loading]="adminLoading"
          [total]="adminTotal"
          [pageSize]="adminPageSize"
          [pageIndex]="adminPageIndex"
          [showIndex]="true"
          [showAddButton]="true"
          [showRefreshButton]="true"
          [showExportButton]="true"
          [showViewButton]="false"
          [showEditButton]="true"
          [showDeleteButton]="true"
          [rowClickable]="true"
          [addButtonText]="'Add Admin'"
          (pageChange)="onAdminPageChange($event)"
          (addClick)="onAdd('admin')"
          (refreshClick)="onRefresh()"
          (exportClick)="onExport()"
          (rowClick)="onView($event)"
          (editClick)="onEdit($event)"
          (deleteClick)="onDelete($event)"
        >
          <div extraTableHeader class="w-full min-w-0">
            <app-user-filter
              [(searchText)]="searchText"
              [genderFilters]="genderFilters"
              (filterChange)="onFilterChange()"
              (searchChange)="onSearch()"
              (clearFilters)="clearFilters()"
            ></app-user-filter>
          </div>
        </app-data-table>
      </div>
    </app-tabs>
  </ng-template>

  <ng-template #rightContent let-user>
    <app-user-view [user]="user" [refreshKey]="detailRefreshKey"></app-user-view>
  </ng-template>
</app-page-split-layout>

<!-- Create User Modal -->
<app-user-create-modal
  [(visible)]="showCreateModal"
  [allowedRoleNames]="createAllowedRoleNames"
  (userCreated)="onUserCreated()"
></app-user-create-modal>

<!-- Edit User Modal -->
<app-user-edit-modal
  [(visible)]="showEditModal"
  [user]="selectedUser"
  (userUpdated)="onUserUpdated()"
></app-user-edit-modal>

<!-- Lock User Confirmation Modal -->
<app-confirmation-modal
  [(visible)]="showLockModal"
  title="Lock User Account"
  [message]="'Are you sure you want to lock ' + selectedUser?.username + '? The user will not be able to log in until unlocked.'"
  type="warning"
  confirmText="Lock User"
  [confirmLoading]="lockLoading"
  (confirm)="handleLockUser()"
></app-confirmation-modal>

<!-- Unlock User Confirmation Modal -->
<app-confirmation-modal
  [(visible)]="showUnlockModal"
  title="Unlock User Account"
  [message]="'Are you sure you want to unlock ' + selectedUser?.username + '? The user will be able to log in again.'"
  type="info"
  confirmText="Unlock User"
  [confirmLoading]="lockLoading"
  (confirm)="handleUnlockUser()"
></app-confirmation-modal>

<!-- Delete Confirmation Modal -->
<app-confirmation-modal
  [(visible)]="showDeleteModal"
  title="Delete User"
  [message]="'Are you sure you want to delete ' + (selectedUser?.username || 'this user') + '? This action cannot be undone.'"
  type="danger"
  confirmText="Delete"
  (confirm)="confirmDelete()"
></app-confirmation-modal>
