<app-page-split-layout
  [showLeftTitle]="true"
  [showRightTitle]="true"
  leftTitle="Farm Plot Management"
  rightTitle="Farm Plot Detail"
  [rightItem]="selectedPlot"
  [rightEmptyMessage]="'Select a row to view details.'"
  (rightEdit)="onEdit($event)"
  (rightClose)="onCloseDetail()"
  [showRightEditButton]="checkIfPlotIsNotAssigned"

>
  <ng-template #extraTableHeader>
    <div class="w-full" extraHeader>
      <app-farm-plot-filter
        [(searchText)]="searchText"
        [(status)]="status"
        [(soilType)]="soilType"
        [(sizeType)]="sizeType"
        (filterChange)="onFilterChange()"
        (searchChange)="onFilterChange()"
        (clearFilters)="clearFilters()"
      ></app-farm-plot-filter>
    </div>
  </ng-template>

  <ng-template #leftContent>
    <app-data-card-layout
      [data]="plots"
      [loading]="loading"
      [total]="total"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [showAddButton]="true"
      [showRefreshButton]="true"
      [showDownloadButton]="true"
      [showViewButton]="true"
      [showEditButton]="checkIfPlotIsNotAssigned"
      [showDeleteButton]="checkIfPlotIsNotAssigned"
      [titleAccessor]="getPlotCardTitle"
      [createdDateAccessor]="getPlotCreatedDate"
      [thumbnailUrlAccessor]="getPlotThumbnailUrl"
      [thumbnailAltAccessor]="getPlotThumbnailAlt"
      (pageChange)="onPageChange($event)"
      (addClick)="onAdd()"
      (refreshClick)="onRefresh()"
      (downloadClick)="onDownload()"
      (viewClick)="onView($event)"
      (editClick)="onEdit($event)"
      (deleteClick)="onDelete($event)"
    >
      <ng-container *ngTemplateOutlet="extraTableHeader"></ng-container>

      <ng-template cardFooterTemplate let-plot>
        <div class="flex items-center gap-4 text-sm">
          <button type="button" class="action-link action-link--view" (click)="onView(plot)">View</button>
          <button type="button" class="action-link action-link--edit" *ngIf="checkIfPlotIsNotAssigned" (click)="onEdit(plot)">Edit</button>
          <button type="button" class="action-link action-link--delete" *ngIf="checkIfPlotIsNotAssigned" (click)="onDelete(plot)">Delete</button>
          <button type="button" class="action-link action-link--view" (click)="onOpenGallery(plot)">Gallery</button>
        </div>
      </ng-template>
    </app-data-card-layout>
  </ng-template>

  <ng-template #rightContent let-plot>
    <app-farm-plot-view [plot]="plot" [refreshKey]="detailRefreshKey"></app-farm-plot-view>
  </ng-template>
</app-page-split-layout>

<!-- Create Farm Plot Modal -->
<app-farm-plot-create-modal
  [(visible)]="showCreateModal"
  (farmPlotCreated)="onFarmPlotCreated()"
></app-farm-plot-create-modal>

<!-- Edit Farm Plot Modal -->
<app-farm-plot-edit-modal
  [(visible)]="showEditModal"
  [farmPlot]="selectedPlot"
  (farmPlotUpdated)="onFarmPlotUpdated()"
></app-farm-plot-edit-modal>

<!-- Delete/Deactivate Confirmation Modal -->
<app-confirmation-modal
  [(visible)]="showDeleteModal"
  title="Deactivate Farm Plot"
  message="Are you sure you want to deactivate this farm plot?"
  confirmText="Deactivate"
  (confirm)="confirmDelete()"
></app-confirmation-modal>

<app-image-gallery-modal
  [(visible)]="showGalleryModal"
  [loading]="galleryLoading"
  [title]="galleryTitle"
  [imageUrls]="galleryImageUrls"
  (visibleChange)="onGalleryVisibilityChange($event)"
></app-image-gallery-modal>



