<app-page-split-layout
  [showLeftTitle]="true"
  [showRightTitle]="true"
  leftTitle="Farm Plot Management"
  rightTitle="Farm Plot Detail"
  [rightItem]="selectedPlot"
  [rightEmptyMessage]="'Select a row to view details.'"
  (rightClose)="onCloseDetail()"
  [showRightEditButton]="false"
>
  <ng-template #leftContent>
    <app-tabs
      [tabs]="adminTabs"
      [activeTab]="adminActiveTab"
      [centered]="true"
      (activeTabChange)="onAdminTabChange($event)"
    >
      <!-- Operational -->
      <div *ngIf="adminActiveTab === 'operational'">
        <app-data-table
          [columns]="columns"
          [data]="operationalPlots"
          [selectedRowId]="selectedPlot?.id ?? null"
          [loading]="operationalLoading"
          [total]="operationalTotal"
          [pageSize]="operationalPageSize"
          [pageIndex]="operationalPageIndex"
          [showIndex]="true"
          [showAddButton]="true"
          [showRefreshButton]="true"
          [showExportButton]="true"
          [showViewButton]="false"
          [showEditButton]="false"
          [showDeleteButton]="false"
          [rowActions]="tableRowActions"
          [rowClickable]="true"
          (pageChange)="onOperationalPageChange($event)"
          (addClick)="onAdd()"
          (refreshClick)="onRefresh()"
          (exportClick)="onDownload()"
          (rowClick)="onView($event)"
        >
          <div extraTableHeader class="w-full min-w-0">
            <app-farm-plot-filter
              [(searchText)]="searchText"
              [(status)]="status"
              [(soilType)]="soilType"
              [(sizeType)]="sizeType"
              (filterChange)="onFilterChange()"
              (searchChange)="onFilterChange()"
              (clearFilters)="clearFilters()"
            ></app-farm-plot-filter>
          </div>
        </app-data-table>
      </div>

      <!-- Repair / Damaged -->
      <div *ngIf="adminActiveTab === 'repair'">
        <app-data-table
          [columns]="columns"
          [data]="repairPlots"
          [selectedRowId]="selectedPlot?.id ?? null"
          [loading]="repairLoading"
          [total]="repairTotal"
          [pageSize]="repairPageSize"
          [pageIndex]="repairPageIndex"
          [showIndex]="true"
          [showAddButton]="false"
          [showRefreshButton]="true"
          [showExportButton]="false"
          [showViewButton]="false"
          [showEditButton]="false"
          [showDeleteButton]="false"
          [showActionColumn]="false"
          [rowClickable]="true"
          [noDataMessage]="'No farm plots under maintenance.'"
          (pageChange)="onRepairPageChange($event)"
          (refreshClick)="onRefresh()"
          (rowClick)="onView($event)"
        >
          <div extraTableHeader class="w-full min-w-0">
            <app-farm-plot-filter
              [(searchText)]="searchText"
              [(status)]="status"
              [(soilType)]="soilType"
              [(sizeType)]="sizeType"
              (filterChange)="onFilterChange()"
              (searchChange)="onFilterChange()"
              (clearFilters)="clearFilters()"
            ></app-farm-plot-filter>
          </div>
        </app-data-table>
      </div>

      <!-- Archived -->
      <div *ngIf="adminActiveTab === 'archived'">
        <app-data-table
          [columns]="columns"
          [data]="archivedPlots"
          [selectedRowId]="selectedPlot?.id ?? null"
          [loading]="archivedLoading"
          [total]="archivedTotal"
          [pageSize]="archivedPageSize"
          [pageIndex]="archivedPageIndex"
          [showIndex]="true"
          [showAddButton]="false"
          [showRefreshButton]="true"
          [showExportButton]="false"
          [showViewButton]="false"
          [showEditButton]="false"
          [showDeleteButton]="false"
          [showActionColumn]="false"
          [rowClickable]="true"
          [noDataMessage]="'No archived farm plots.'"
          (pageChange)="onArchivedPageChange($event)"
          (refreshClick)="onRefresh()"
          (rowClick)="onView($event)"
        >
          <div extraTableHeader class="w-full min-w-0">
            <app-farm-plot-filter
              [(searchText)]="searchText"
              [(status)]="status"
              [(soilType)]="soilType"
              [(sizeType)]="sizeType"
              (filterChange)="onFilterChange()"
              (searchChange)="onFilterChange()"
              (clearFilters)="clearFilters()"
            ></app-farm-plot-filter>
          </div>
        </app-data-table>
      </div>
    </app-tabs>
  </ng-template>

  <ng-template #rightContent let-plot>
    <app-farm-plot-view
      [plot]="plot"
      [refreshKey]="detailRefreshKey"
      (statusChanged)="onPlotStatusChanged()"
    ></app-farm-plot-view>
  </ng-template>
</app-page-split-layout>

<!-- Create Farm Plot Modal -->
<app-farm-plot-create-modal
  [(visible)]="showCreateModal"
  (farmPlotCreated)="onFarmPlotCreated()"
></app-farm-plot-create-modal>

<!-- Edit Farm Plot Modal -->
<app-farm-plot-edit-modal
  [(visible)]="showEditModal"
  [farmPlot]="selectedPlot"
  (farmPlotUpdated)="onFarmPlotUpdated()"
></app-farm-plot-edit-modal>

<app-image-gallery-modal
  [(visible)]="showGalleryModal"
  [loading]="galleryLoading"
  [title]="galleryTitle"
  [imageUrls]="galleryImageUrls"
  (visibleChange)="onGalleryVisibilityChange($event)"
></app-image-gallery-modal>
