<!-- Create Farm Plot Modal -->
<app-farm-plot-create-modal
  [(visible)]="showCreateModal"
  (farmPlotCreated)="onFarmPlotCreated()"
></app-farm-plot-create-modal>

<!-- Edit Farm Plot Modal -->
<app-farm-plot-edit-modal
  [(visible)]="showEditModal"
  [farmPlot]="selectedPlot"
  (farmPlotUpdated)="onFarmPlotUpdated()"
></app-farm-plot-edit-modal>

<!-- Delete/Deactivate Confirmation Modal -->
<app-confirmation-modal
  [(visible)]="showDeleteModal"
  title="Deactivate Farm Plot"
  message="Are you sure you want to deactivate this farm plot?"
  confirmText="Deactivate"
  (confirm)="confirmDelete()"
></app-confirmation-modal>


<app-page-split-layout
  [showLeftTitle]="true"
  [showRightTitle]="true"
  leftTitle="Farm Plot Management"
  rightTitle="Farm Plot Detail"
  [rightItem]="selectedPlot"
  [rightEmptyMessage]="'Select a row to view details.'"
  (rightEdit)="onEdit($event)"
  (rightClose)="onCloseDetail()"

>
  <ng-template #leftContent>
    <!-- Put your table here -->
    <app-data-table
      [columns]="columns"
      [data]="plots"
      [loading]="loading"
      [total]="total"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [showAddButton]="true"
      [showRefreshButton]="true"
      [showViewButton]="true"
      [showEditButton]="true"
      [showDeleteButton]="true"
      (pageChange)="onPageChange($event)"
      (addClick)="onAdd()"
      (refreshClick)="onRefresh()"
      (viewClick)="onView($event)"
      (editClick)="onEdit($event)"
      (deleteClick)="onDelete($event)"
    >
      <div extraTableHeader class="w-full flex justify-end">
        <app-farm-plot-filter
          [(searchText)]="searchText"
          [(status)]="status"
          [(soilType)]="soilType"
          [(sizeType)]="sizeType"
          (filterChange)="onFilterChange()"
          (searchChange)="onFilterChange()"
          (clearFilters)="clearFilters()"
        ></app-farm-plot-filter>
      </div>
    </app-data-table>
  </ng-template>

  <ng-template #rightContent let-plot>
    <app-farm-plot-view [plot]="plot" [refreshKey]="detailRefreshKey"></app-farm-plot-view>
  </ng-template>
</app-page-split-layout>

