<app-modal
  [(visible)]="visible"
  title="Approve Investment"
  size="md"
  [maskClosable]="false"
  (visibleChange)="visibleChange.emit($event)"
>
  <ng-template #modalBody>
    <div class="space-y-3 text-sm">
      <div>
        <div class="text-gray-500">ROI terms</div>
        <div class="whitespace-pre-wrap border rounded p-3">{{ investment?.roi ?? '-' }}</div>
      </div>
      <div class="text-gray-500">Choose to accept or reject these terms.</div>
    </div>
  </ng-template>

  <ng-template #modalFooter>
    <button class="btn btn-outline" type="button" [disabled]="isSaving" (click)="visibleChange.emit(false)">
      Cancel
    </button>
    <button class="btn btn-outline" type="button" [disabled]="isSaving" (click)="decide('REJECT')">
      Reject
    </button>
    <button class="btn btn-primary" type="button" [disabled]="isSaving" (click)="decide('ACCEPT')">
      Accept
    </button>
  </ng-template>
</app-modal>

