<app-modal
  [(visible)]="visible"
  title="Create Crowdfunding Campaign"
  size="xxl"
  [showFooter]="false"
  [maskClosable]="false"
  (visibleChange)="visibleChange.emit($event)"
>
  <ng-template #modalBody>
    <app-crowdfunding-registration-stepper
      [(currentStep)]="currentStep"
      [farmPlots]="farmPlots"
      [operationId]="operationId"
      [isSaving]="isSaving"
      (operationSubmit)="onOperationSubmit($event)"
      (campaignSubmit)="onCampaignSubmit($event)"
      (completed)="onConfirm()"
      (cancelRequested)="onCompleted()"
    ></app-crowdfunding-registration-stepper>
  </ng-template>
</app-modal>

