<app-page-split-layout
  [showLeftTitle]="true"
  [showRightTitle]="true"
  leftTitle="Investments"
  rightTitle="Investment Detail"
  [rightItem]="selectedInvestment"
  [rightEmptyMessage]="'Select a row to view details.'"
  [showRightEditButton]="false"
  [rightActions]="rightActions"
>
  <ng-template #leftContent>
    <app-data-table
      [columns]="columns"
      [data]="investments"
      [loading]="loading"
      [total]="total"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [showAddButton]="false"
      [showRefreshButton]="true"
      [showViewButton]="true"
      [showEditButton]="false"
      [showDeleteButton]="false"
      (pageChange)="onPageChange($event)"
      (refreshClick)="onRefresh()"
      (viewClick)="onView($event)"
    >
      <div extraTableHeader class="w-full min-w-0">
        <app-crowd-funding-investment-filter
          [(searchText)]="searchText"
          [(status)]="status"
          (filterChange)="onFilterChange()"
          (searchChange)="onFilterChange()"
          (clearFilters)="clearFilters()"
        ></app-crowd-funding-investment-filter>
      </div>
    </app-data-table>
  </ng-template>

  <ng-template #rightContent let-investment>
    <app-tabs
      [tabs]="tabs"
      [activeTab]="activeTab"
      (activeTabChange)="activeTab = $event">
      <!-- Request Tab -->
      <div *ngIf="activeTab === 'detail'">
        <app-crowd-funding-investment-view
          [investment]="investment"
          [refreshKey]="detailRefreshKey"
        ></app-crowd-funding-investment-view>
      </div>
      <div *ngIf="activeTab === 'user'">
        <app-user-view *ngIf="investment"
                       [user]="investment.investorUser"></app-user-view>

      </div>
    </app-tabs>

  </ng-template>
</app-page-split-layout>

<app-crowd-funding-set-roi-modal
  [(visible)]="showSetRoiModal"
  [investment]="selectedInvestment"
  (roiSaved)="onRoiSaved()"
></app-crowd-funding-set-roi-modal>

<app-crowd-funding-investor-decision-modal
  [(visible)]="showInvestorDecisionModal"
  [investment]="selectedInvestment"
  (decisionSaved)="onDecisionSaved()"
></app-crowd-funding-investor-decision-modal>

<app-confirmation-modal
  [(visible)]="showConfirmationModal"
  title="Send Investment"
  [message]="'Are you sure you want to send ?'"
  type="warning"
  confirmText="Send Investment"
  [confirmLoading]="lockSend"
  (confirm)="handleSendConfirmation()"
></app-confirmation-modal>

