<app-modal
  [(visible)]="visible"
  title="Update Restoration Plan"
  size="xl"
  confirmText="Save"
  [confirmLoading]="confirmLoading"
  (visibleChange)="visibleChange.emit($event)"
  (confirm)="onConfirm()"
  (cancel)="onCancel()"
>
  <ng-template #modalBody>
    <app-restoration-plan-form
      mode="edit"
      [plan]="plan"
      [farmPlots]="farmPlots"
      [extensionWorkers]="extensionWorkers"
      [statuses]="statuses"
    ></app-restoration-plan-form>
  </ng-template>
</app-modal>

