<app-page-split-layout
  [showLeftTitle]="true"
  [showRightTitle]="true"
  leftTitle="Notification Management"
  rightTitle="Notification Detail"
  [rightItem]="selectedNotification"
  [rightEmptyMessage]="'Select a row to view details.'"
  [showRightEditButton]="false"
  (rightClose)="onCloseDetail()"
>
  <ng-template #leftContent>
    <app-data-table
      [columns]="columns"
      [data]="notifications"
      [loading]="loading"
      [total]="total"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [showIndex]="true"
      [showAddButton]="false"
      [showRefreshButton]="true"
      [showViewButton]="true"
      [showEditButton]="false"
      [showDeleteButton]="false"
      (pageChange)="onPageChange($event)"
      (refreshClick)="loadNotifications()"
      (viewClick)="onView($event)"
    >
      <div extraTableHeader class="w-full min-w-0">
        <app-notification-filter
          [(searchText)]="searchText"
          [(status)]="status"
          [(priority)]="priority"
          (filterChange)="onSearch()"
          (searchChange)="onSearch()"
          (clearFilters)="clearFilters()"
        ></app-notification-filter>
      </div>
    </app-data-table>
  </ng-template>

  <ng-template #rightContent let-notification>
    <app-notification-view
      [id]="notification?.id"
    ></app-notification-view>
  </ng-template>
</app-page-split-layout>

