<app-page-split-layout
  [showLeftTitle]="true"
  [showRightTitle]="true"
  leftTitle="Farm Lease Management"
  rightTitle="Lease Detail"
  [rightItem]="selectedLease"
  [rightEmptyMessage]="'Select a row to view details.'"
  [showRightEditButton]="shouldShowLeaseEditButton(selectedLease)"
  [rightActions]="rightActions"
  (rightEdit)="onEdit($event)"
>
  <ng-template #leftContent>
    <app-data-table
      [columns]="columns"
      [data]="leases"
      [loading]="loading"
      [total]="total"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [showAddButton]="isInvestorUser"
      [showRefreshButton]="true"
      [showViewButton]="true"
      [showEditButton]="false"
      [showDeleteButton]="false"
      [addButtonText]="'Register'"
      (pageChange)="onPageChange($event)"
      (addClick)="onAdd()"
      (refreshClick)="onRefresh()"
      (viewClick)="onView($event)"
      (editClick)="onEdit($event)"
    >
      <div extraTableHeader class="w-full min-w-0">
        <app-farm-lease-filter
          [(searchText)]="searchText"
          [(status)]="status"
          (filterChange)="onFilterChange()"
          (searchChange)="onFilterChange()"
          (clearFilters)="clearFilters()"
        ></app-farm-lease-filter>
      </div>
    </app-data-table>
  </ng-template>

  <ng-template #rightContent let-lease>
    <app-tabs
      [tabs]="tabs"
      [activeTab]="activeTab"
      (activeTabChange)="activeTab = $event">
      <!-- Request Tab -->
      <div *ngIf="activeTab === 'detail'">
        <app-farm-lease-view [lease]="lease" [refreshKey]="detailRefreshKey"></app-farm-lease-view>
      </div>
      <div *ngIf="activeTab === 'farm-plot'">
        <app-farm-plot-view *ngIf="lease" [plot]="lease.farmPlot"></app-farm-plot-view>
      </div>
      <div *ngIf="activeTab === 'user'">
        <app-user-view *ngIf="lease" [user]="lease.investorUser"></app-user-view>
      </div>
      <div *ngIf="activeTab === 'follow-up'">
        <app-farm-followup-list
          [followUps]="lease?.followUpDtoList ?? []"
          [externalId]="lease?.id ?? ''"
        ></app-farm-followup-list>
      </div>
    </app-tabs>
  </ng-template>
</app-page-split-layout>

<app-farm-lease-create-modal
  [(visible)]="showCreateModal"
  (leaseCreated)="onLeaseCreated()"
></app-farm-lease-create-modal>

<app-farm-lease-edit-modal
  [(visible)]="showEditModal"
  [lease]="selectedLease"
  (leaseUpdated)="onLeaseUpdated()"
></app-farm-lease-edit-modal>

<app-farm-lease-approve-modal
  [(visible)]="showAdminActionModal"
  [lease]="selectedLease"
  (decisionSelected)="onAdminDecision($event)"
></app-farm-lease-approve-modal>

<app-extension-worker-assign-modal [(visible)]="showAssignExtenstionWorkerModal"
                                   (selectedUserIdChange)="onSelectedUser($event)"
                                   (confirm)="onConfirm($event)">
</app-extension-worker-assign-modal>

<app-confirmation-modal
  [(visible)]="showConfirmationModal"
  title="Send Lease Agreement"
  [message]="'Are you sure you want to send ?'"
  type="warning"
  confirmText="Send Lease Agreement"
  [confirmLoading]="lockSend"
  (confirm)="handleSendConfirmation()"
></app-confirmation-modal>

<app-confirmation-modal
  [(visible)]="showCancelModal"
  title="Cancel Lease Agreement"
  [message]="'Are you sure you want to cancel ?'"
  type="warning"
  confirmText="Cancel Lease Agreement"
  [confirmLoading]="lockCancel"
  (confirm)="handleCancelConfirmation()"
></app-confirmation-modal>
