<app-page-header
  pageTitle="Detail Training Programs"
  subTitle="Training Program Details"
  [showBackButton]="true"
  [loading]="loading"
>
  <ng-template #mainContent>
    <div class="lg:col-span-2">
      <app-user-request-detail
        [userRequestId]="userRequestId"
        [requestType]="userRequestType"
        [dynamicTabs]="dynamicTabs"
      >
        <ng-template #trainingProgramTab>
          <app-training-program-view [userRequestId]="userRequestId"></app-training-program-view>
        </ng-template>
      </app-user-request-detail>
    </div>
  </ng-template>
</app-page-header>
