<app-modal
  [(visible)]="visible"
  title="Approve Investment"
  size="md"
  [confirmText]="'Create Farm Plot'"
  [confirmLoading]="isLoading"
  [showCancelButton]="true"
  (confirm)="onSubmit()"
  (cancel)="onCancel()"
  (visibleChange)="visibleChange.emit($event)"
>
  <ng-template #modalBody>
    <div class="space-y-3 text-sm">
      <select
        [(ngModel)]="decision"
        class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 text-gray-900"
      >
        <option [ngValue]="'ACCEPTED'">ACCEPT</option>
        <option [ngValue]="'REJECTED'">REJECT</option>
      </select>
    </div>
  </ng-template>
</app-modal>

