<app-page-split-layout
  [showLeftTitle]="true"
  [showRightTitle]="true"
  leftTitle="Assigned Investments"
  rightTitle="Assigned Plot Workspace"
  [rightItem]="selectedAgreement"
  [showRightEditButton]="false"
  [showRightCloseButton]="false"
  [rightActions]="[]"
  [rightEmptyMessage]="'Select an assigned investment to view farm plot details, lease agreement, and follow-ups.'"
>
  <ng-template #leftContent>
    <app-tabs
      [tabs]="assignmentsTabs"
      [activeTab]="assignmentsActiveTab"
      [centered]="true"
      (activeTabChange)="onAssignmentsTabChange($event)"
    >
      <div *ngIf="assignmentsActiveTab === 'current'">
        <app-data-table
          [columns]="columns"
          [data]="currentAgreements"
          [selectedRowId]="selectedAgreement?.id ?? null"
          [loading]="loading"
          [total]="currentAgreements.length"
          [pageSize]="currentAgreements.length || 10"
          [pageIndex]="1"
          [showColumnPickerControl]="false"
          [showAddButton]="false"
          [showRefreshButton]="false"
          [showViewButton]="false"
          [showEditButton]="false"
          [showDeleteButton]="false"
          [showActionColumn]="false"
          [rowClickable]="true"
          [noDataMessage]="'No current assigned investments found.'"
          (rowClick)="selectAgreement($event)"
        >
          <div extraTableHeader class="w-full min-w-0">
            <app-investment-package-type-filter
              [(searchText)]="searchText"
              [(status)]="fundingStatus"
              [(paymentStatus)]="paymentStatus"
              (filterChange)="onFilterChange()"
              (searchChange)="onFilterChange()"
              (clearFilters)="clearFilters()"
            ></app-investment-package-type-filter>
          </div>
        </app-data-table>
      </div>

      <div *ngIf="assignmentsActiveTab === 'history'">
        <app-data-table
          [columns]="archivedColumns"
          [data]="historyAgreements"
          [selectedRowId]="selectedAgreement?.id ?? null"
          [loading]="loading"
          [total]="historyAgreements.length"
          [pageSize]="historyAgreements.length || 10"
          [pageIndex]="1"
          [showColumnPickerControl]="false"
          [showAddButton]="false"
          [showRefreshButton]="false"
          [showViewButton]="false"
          [showEditButton]="false"
          [showDeleteButton]="false"
          [showActionColumn]="false"
          [rowClickable]="true"
          [noDataMessage]="'No completed or deactivated assignments yet.'"
          (rowClick)="selectAgreement($event)"
        >
          <div extraTableHeader class="w-full min-w-0">
            <app-investment-package-type-filter
              [(searchText)]="searchText"
              [(status)]="fundingStatus"
              [(paymentStatus)]="paymentStatus"
              (filterChange)="onFilterChange()"
              (searchChange)="onFilterChange()"
              (clearFilters)="clearFilters()"
            ></app-investment-package-type-filter>
          </div>
        </app-data-table>
      </div>
    </app-tabs>
  </ng-template>

  <ng-template #rightContent>
    <div *ngIf="selectedPlot && selectedAgreement; else noSelection">
      <app-tabs [tabs]="tabs" [activeTab]="activeTab" (activeTabChange)="activeTab = $event">
        <div *ngIf="activeTab === 'farm-plot'">
          <app-farm-plot-view [plot]="selectedPlot" [hideInvestmentHistoryForExtensionWorker]="true"></app-farm-plot-view>
        </div>
        <div *ngIf="activeTab === 'lease'">
          <app-investment-package-type-view [agreement]="selectedAgreement"></app-investment-package-type-view>
        </div>
        <div *ngIf="activeTab === 'follow-up'">
          <app-farm-followup-list
            [followUps]="selectedAgreement.followUpDtoList ?? []"
            [externalId]="selectedAgreement.id"
            [readOnly]="isFollowUpReadOnly"
          ></app-farm-followup-list>
        </div>
      </app-tabs>
    </div>

    <ng-template #noSelection>
      <div class="text-sm text-gray-500">Select an assigned investment to open details.</div>
    </ng-template>
  </ng-template>
</app-page-split-layout>
