<app-modal
  [(visible)]="visible"
  title="Create Lease Agreement"
  size="xl"
  [confirmText]="'Create Lease Agreement'"
  [confirmLoading]="isLoading"
  [confirmDisabled]="!farmLeaseForm || !farmLeaseForm.hasPayments || farmLeaseForm.hasValidationErrors()"
  (confirm)="onSubmit()"
  (cancel)="onCancel()"
  (visibleChange)="visibleChange.emit($event)"
>
  <ng-template #modalBody>
    <app-farm-lease-form
      [farmPlots]="farmPlots"
      [selectedFarmPlot]="selectedFarmPlot"
      #farmLeaseForm
      mode="create"
    ></app-farm-lease-form>
  </ng-template>
</app-modal>

