<app-multi-step-form-modal
  [(visible)]="visible"
  title="Create Farm Plot"
  [steps]="steps"
  [(currentStep)]="currentStep"
  size="xxl"
  [isSubmitting]="isLoading"
  submitLabel="Create Farm Plot"
  (next)="onNext()"
  (submitForm)="onSubmit()"
  (cancelled)="onCancelled()"
  (visibleChange)="visibleChange.emit($event)"
>
  <ng-template #stepBody>
    <app-farm-plot-create-wizard #wizard [currentStep]="currentStep"></app-farm-plot-create-wizard>
  </ng-template>
</app-multi-step-form-modal>
