<app-multi-step-form-modal
  [(visible)]="visible"
  title="Edit Farm Plot"
  [steps]="steps"
  [(currentStep)]="currentStep"
  size="xxl"
  [isSubmitting]="isLoading"
  submitLabel="Save Changes"
  (next)="onNext()"
  (submitForm)="onSubmit()"
  (cancelled)="onCancelled()"
  (visibleChange)="visibleChange.emit($event)"
>
  <ng-template #stepBody>
    <app-farm-plot-edit-wizard
      #wizard
      *ngIf="farmPlot"
      [farmPlot]="farmPlot"
      [currentStep]="currentStep"
    ></app-farm-plot-edit-wizard>
  </ng-template>
</app-multi-step-form-modal>
