<app-detail-card>

  <ng-container *ngIf="followUp">

    <app-detail-section title="Follow-up">
      <app-detail-field label="Remark" [value]="followUp.remark || '-'"/>
    </app-detail-section>

    <app-detail-section title="Attachment">
      <div class="col-span-full">
        <app-document-upload
          label="Image"
          [currentFileId]="followUp.attachment"
          [viewOnly]="true"
          [required]="false"
        ></app-document-upload>
      </div>
    </app-detail-section>

    <app-detail-section title="Audit">
      <app-detail-field label="Created By" [value]="followUp.createdBy || '-'"/>
      <app-detail-field label="Created At" [value]="followUp.createdAt || '-'"/>
      <app-detail-field label="Updated By" [value]="followUp.updatedBy || '-'"/>
      <app-detail-field label="Updated At" [value]="followUp.updatedAt || '-'"/>
    </app-detail-section>
  </ng-container>
</app-detail-card>

